@model GeoJsonLab1.Models.OceaniaViewModel
@{
    ViewData["Title"] = "Oceanian countries";
}
<script src="https://d3js.org/d3.v4.min.js"></script>
<div class="text-center top-margin">
    <h4>Countries in Oceania</h4>
</div>
<div class="row">
    <div class="col mb-2">
        <div class="form-group">
            <label for="countriesList">Select a country</label>
            <select class="selectpicker" data-live-search="true" id="countriesList">
                @foreach (var cc in Model.CountryCodes.Keys)
                {
                    <option value="@cc">@Model.CountryCodes[cc]</option>
                }
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-sm-12 p-3">
        <svg viewBox="0 0 960 600"
             preserveAspectRatio="xMidYMid meet"></svg>
    </div>
    <div class="col-md-4 col-sm-12 bg-light border border-dark rounded shadow p-2">
        @{
            await Html.RenderPartialAsync("CountryFactsControl");
        }
    </div>
</div>

<script>
    const svg = d3.select("svg")
    const graticule = d3.geoGraticule()

    $(document).ready(function () {
        $('#countriesList').selectpicker();
        $('#countriesList').change(function () {
            renderCountry($(this).val());
        });
        renderCountry('@Model.CountryCodes.Keys.First()');
    });
</script>
