
<div class="p-2">
    <img id="country-flag-img" style="width:100px;height:75px" class="border border-dark"/>
</div>
<h4 id="country-name"></h4>
<span style="font-weight:bolder">Area: </span><span id="country-area"></span>
<br />
<span style="font-weight:bolder">Population: </span><span id="country-population"></span>
<br />
<span style="font-weight:bolder">Population density: </span><span id="country-population-density"></span> P/km2<span></span>
<br />
<span style="font-weight:bolder">Urban population: </span><span id="country-urban-population"></span>%<span></span>
<br />
<span style="font-weight:bolder">Med.age: </span><span id="country-med-age"></span><span> years</span>
<br />
<span style="font-weight:bolder">Fertility rate: </span><span id="country-fertility-rate"></span><span> children/woman</span>
<br />
<br />
<canvas id="gdpChart" width="400" height="300"></canvas>